body {
  padding: 20px;
  min-width: fit-content;
  width: 100%;
}

.container {
  max-width: 90%;
  margin: auto;
  text-align: center;
}

.navbar {
  margin-bottom: 20px;
  width: 100%;
}

.mt-3 {
  margin-top: 3rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  table-layout: auto;
}

th,
td {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #f5f5f5;
}

.icon-link {
  margin-right: 5px;
  color: #007bff;
  cursor: pointer;
}

/* Style for edit icon */
.edit-icon {
  color: green;
}

/* Style for delete icon */
.delete-icon {
  color: red;
}



.nav-btn {
  color: #dc3545 !important;
  cursor: pointer;
}

.nav-btn:hover {
  color: #9b0b1b !important;
}


.pagination {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

.pagination li {
  margin: 0;
  padding: 0;
}

.pagination button {
  display: inline-block;
  padding: 10px;
  background-color: #f2f2f2;
  text-decoration: none;
  color: #333;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.pagination button:disabled{
  color: #727070;
}


.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .close-btn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.open-btn {
  font-size: 30px;
  cursor: pointer;
  position: fixed;
  top: 20px;
  right: 15px;
}

.page-content {
  margin-left: 0;
  transition: margin-left 0.5s;
}